@charset "UTF-8";


// 使用盒子模型的滚动条
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  // 打破10px字体大小限制
  -webkit-text-size-adjust:none;
  margin:0;
}

body {
  font-family: 'PingFang SC', Arial, 'Microsoft YaHei', 'SimHei', sans-serif;
  margin: 0;
  background-color: #293340;
}
