// .heart {
//   width: getRem(30);
//   height: getRem(30);
//   display: inline-block;
//   background: url("../assets/heart.svg") center center;
//   background-size: cover;
// }
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color:white;
  #spirit {
    will-change: transform;
    transition: transform 4.5s ease-out;
    transform: translateY(0);
    position: absolute;
    bottom: 5rem;
    width: 9.8rem;
    height: 7.8rem;
    margin-left: 0.2rem;
    .spirit-part {
      position: absolute;
    }
    #spirit-body {
      z-index: 4;
      left: getRem(220);
      top: getRem(136);
      width: getRem(266);
      height: getRem(368);
      background: url("../assets/viewer/spirit-body.png") center center
        no-repeat;
      background-size: cover;
    }
    #spirit-front-leaf {
      z-index: 5;
      left: getRem(340);
      top: getRem(12);
      width: getRem(398);
      height: getRem(492);
      background: url("//cdn.cnbj1.fds.api.mi-img.com/mbox/img/spirit-front-leaf.png")
        center center no-repeat;
      background-size: cover;
    }
    #spirit-back-leaf {
      z-index: 3;
      width: getRem(462);
      height: getRem(472);
      background: url("//cdn.cnbj1.fds.api.mi-img.com/mbox/img/spirit-back-leaf.png")
        center center no-repeat;
      background-size: cover;
    }
    #spirit-back1 {
      z-index: 1;
      left: getRem(40);
      top: getRem(16);
      opacity: 0.6;
      width: getRem(618);
      height: getRem(526);
      background: url("../assets/viewer/spirit-back1.png") center center
        no-repeat;
      background-size: cover;
    }
    #spirit-back2 {
      z-index: 2;
      transform: rotate(-14deg);
      opacity: 0.3;
      width: getRem(754);
      height: getRem(580);
      background: url("../assets/viewer/spirit-back2.png") center center
        no-repeat;
      background-size: cover;
    }
  }
  .not-playing {
    animation: box-shine 1s linear infinite;
  }
  #mb {
    will-change: transform;
    transition: transform 4.5s ease-out;
    transform: translateY(0);
    position: absolute;
    bottom: 4.2rem;
    width: 1.4rem;
    height: 1.6rem;
    left: 2.4rem;
    .mb-part {
      position: absolute;
    }
    #mb-lid {
      z-index: 2;
      left: getRem(0);
      top: getRem(0);
      transition: 0.5s ease-out;
      transform: rotate(54deg);
      width: getRem(48);
      height: getRem(64);
      background: url("../assets/viewer/mb-lid.png") center center no-repeat;
      background-size: cover;
    }
    #mb-lid.playing {
      transform: rotate(0deg) translateX(-0.3rem);
    }
    #mb-body {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      left: getRem(20);
      top: getRem(50);
      width: getRem(64);
      height: getRem(52);
      background: url("../assets/viewer/mb-body.png") center center no-repeat;
      background-size: cover;
      #play-btn {
        position: relative;
        margin-top: 0.3rem;
        margin-left: 0.1rem;
        width: getRem(12);
        height: getRem(16);
        background: url("../assets/viewer/audio-play.png") center center
          no-repeat;
        background-size: cover;
      }
      #pause-btn {
        position: relative;
        margin-top: 0.3rem;
        margin-left: 0.05rem;
        width: getRem(16);
        height: getRem(14);
        background: url("../assets/viewer/audio-pause.png") center center
          no-repeat;
        background-size: cover;
      }
    }
    #mb-shiner {
      position: absolute;
      width: 0.8rem;
      height: 0.3rem;
      background-color: rgba(252, 245, 141, 0.56);
      z-index: 1;
      bottom: 0.6rem;
      left: 0.3rem;
      border-radius: 0.4rem/0.2rem;
    }
  }
  #music-aurora {
    position: absolute;
    bottom: 4.2rem;
    left: 1.5rem;
    width: getRem(577);
    height: getRem(577);
    background: url("//cdn.cnbj1.fds.api.mi-img.com/mbox/img/music_sprite.png"); // background:url('http://c.m.163.com/nc/qa/activity/xijing/img/cover_tit_step2.png');
    background-size: getRem(577) getRem(4039);
    animation: music-aurora steps(7) 1.5s infinite;
    pointer-events: none;
  }
  #ground {
    will-change: transform;
    transition: transform 4.5s ease-out;
    position: absolute;
    left: -3rem;
    bottom: -2.3rem;
    opacity: 0.4;
    width: getRem(1522);
    height: getRem(852);
    background: url("//cdn.cnbj1.fds.api.mi-img.com/mbox/img/ground.png") center
      center no-repeat;
    background-size: cover;
  }
  #low-leaf1 {
    will-change: transform;
    transition: transform 4.5s ease-out, opacity 4.5s ease-out;
    position: absolute;
    width: getRem(162);
    height: getRem(168);
    opacity: 0.38;
    left: getRem(-160);
    bottom: 6.5rem;
    background: url("../assets/viewer/low-leaf1.png") center center no-repeat;
    background-size: cover;
  }
  #low-leaf2 {
    will-change: transform;
    transition: transform 4.5s ease-out, opacity 4.5s ease-out;
    position: absolute;
    width: getRem(250);
    height: getRem(300);
    left: getRem(-106);
    bottom: 2rem;
    background: url("../assets/viewer/low-leaf2.png") center center no-repeat;
    background-size: cover;
  }
  #low-leaf3 {
    z-index: -1;
    will-change: transform;
    transition: transform 4.5s ease-out, opacity 4.5s ease-out;
    position: absolute;
    width: getRem(162);
    height: getRem(365);
    left: 4rem;
    bottom: 8.5rem;
    background: url("../assets/viewer/low-leaf3.png") center center no-repeat;
    background-size: cover;
  }
  #low-leaf4 {
    will-change: transform;
    transition: transform 4.5s ease-out, opacity 4.5s ease-out;
    position: absolute;
    width: getRem(310);
    height: getRem(336);
    transform: rotate(-23deg);
    right: -3.5rem;
    bottom: getRem(400);
    background: url("../assets/viewer/low-leaf4.png") center center no-repeat;
    background-size: cover;
  }
  #mid-leaf1 {
    will-change: transform;
    transition: transform 4.5s ease-out, opacity 4.5s ease-out;
    position: absolute;
    width: getRem(557);
    height: getRem(419);
    transform: rotate(-10deg);
    left: -3rem;
    bottom: getRem(940);
    background: url("//cdn.cnbj1.fds.api.mi-img.com/mbox/img/mid-leaf1.png")
      center center no-repeat;
    background-size: cover;
  }
  #mid-leaf2 {
    will-change: transform;
    transition: transform 4.5s ease-out, opacity 4.5s ease-out;
    position: absolute;
    width: getRem(359);
    height: getRem(415);
    transform: rotate(-21deg);
    left: -2.8rem;
    bottom: getRem(840);
    background: url("//cdn.cnbj1.fds.api.mi-img.com/mbox/img/mid-leaf2.png")
      center center no-repeat;
    background-size: cover;
  }
  #mid-leaf3 {
    will-change: transform;
    transition: transform 4.5s ease-out, opacity 4.5s ease-out;
    position: absolute;
    width: getRem(583);
    height: getRem(546);
    right: -4.2rem;
    transform: rotate(33deg);
    bottom: getRem(820);
    background: url("//cdn.cnbj1.fds.api.mi-img.com/mbox/img/mid-leaf3.png")
      center center no-repeat;
    background-size: cover;
  }
  #mid-leaf4 {
    will-change: transform;
    transition: transform 4.5s ease-out, opacity 4.5s ease-out;
    position: absolute;
    width: getRem(384);
    height: getRem(537);
    right: -2.6rem;
    transform: rotate(25deg);
    bottom: getRem(740);
    background: url("//cdn.cnbj1.fds.api.mi-img.com/mbox/img/mid-leaf4.png")
      center center no-repeat;
    background-size: cover;
  }
  #top-leaf1 {
    will-change: transform;
    transition: transform 4.5s ease-out, opacity 4.5s ease-out;
    position: absolute;
    width: getRem(1226);
    height: getRem(1232);
    transform: rotate(56deg) scale(1);
    right: -10rem;
    bottom: getRem(1700);
    background: url("//cdn.cnbj1.fds.api.mi-img.com/mbox/img/top-leaf1.png")
      center center no-repeat;
    background-size: cover;
  }
  #top-leaf2 {
    will-change: transform;
    transition: transform 4.5s ease-out, opacity 4.5s ease-out;
    position: absolute;
    width: getRem(1430);
    height: getRem(874);
    opacity: 0.9;
    transform: rotate(-6deg) scale(0.7);
    right: -10rem;
    bottom: getRem(1200);
    background: url("//cdn.cnbj1.fds.api.mi-img.com/mbox/img/top-leaf2.png")
      center center no-repeat;
    background-size: cover;
  }
  #top-leaf3 {
    will-change: transform;
    transition: transform 4.5s ease-out, opacity 4.5s ease-out;
    position: absolute;
    width: getRem(1250);
    height: getRem(986);
    transform: rotate(-2deg) scale(0.7);
    left: -7rem;
    bottom: getRem(1870);
    background: url("//cdn.cnbj1.fds.api.mi-img.com/mbox/img/top-leaf3.png")
      center center no-repeat;
    background-size: cover;
  }
  #top-leaf4 {
    will-change: transform;
    transition: transform 4.5s ease-out, opacity 4.5s ease-out;
    position: absolute;
    width: getRem(918);
    height: getRem(752);
    transform: rotate(44deg) scale(0.8);
    left: -9.5rem;
    bottom: getRem(1270);
    background: url("//cdn.cnbj1.fds.api.mi-img.com/mbox/img/top-leaf4.png")
      center center no-repeat;
    background-size: cover;
  }
  #top-leaf5 {
    will-change: transform;
    transition: transform 4.5s ease-out, opacity 4.5s ease-out;
    position: absolute;
    width: getRem(1048);
    height: getRem(1054);
    opacity: 0.3;
    transform: rotate(22deg) scale(0.9);
    right: -12rem;
    bottom: getRem(1500);
    background: url("//cdn.cnbj1.fds.api.mi-img.com/mbox/img/top-leaf1.png")
      center center no-repeat;
    background-size: cover;
  }
  #top-leaf6 {
    will-change: transform;
    transition: transform 4.5s ease-out, opacity 4.5s ease-out;
    position: absolute;
    width: getRem(718);
    height: getRem(566);
    opacity: 0.5;
    transform: rotate(-1deg) scale(1.2);
    left: -6rem;
    bottom: getRem(1700);
    background: url("//cdn.cnbj1.fds.api.mi-img.com/mbox/img/top-leaf5.png")
      center center no-repeat;
    background-size: cover;
  }
  #work-intro {
    position: absolute;
    bottom: 3.4rem;
    text-align: right;
    right: 1rem;
    .title {
      font-size: 0.6rem;
      margin-bottom: 0.3rem;
      color: #7d839e;
    }
    .subtitle {
      display: flex;
      height: getRem(60);
      font-size: 0.4rem;
      align-items: center;
      color: #7d839e;
      img {
        width: getRem(60);
        height: getRem(60);
        border-radius: 50%;
        border: none;
        margin: 0 0.3rem 0 0.3rem;
      }
    }
    #edit-work {
      position: absolute;
      width: getRem(28);
      height: getRem(28);
      right: getRem(-34);
      top: getRem(18);
      background: url("../assets/viewer/edit.svg") center center no-repeat;
      background-size: cover;
    }
  }
  #control-panal {
    position: absolute;
    width: 100%;
    bottom: 0rem;
    display: flex;
    height: 1.7rem;
    padding: 0 getRem(50);
    justify-content: space-between;
    align-items: center;
    .download-info{
      display: flex;
      justify-content: space-between;
      // padding: getRem(40) getRem(16);
      padding-right: getRem(40);
      font-size: 10px;
      .likes {
        display: flex;
        align-items:center;
        flex-direction: column;
        text-align: center;
        font-size: getRem(28);
        img {
          width: getRem(52);
          height: getRem(42);
          // margin-right: getRem(8);
        }
      }
    }
    .button_group {
      // position:absolute;
      display: flex;
      // flex: 1;
      top: 0;
      width: 67%;
      .disabled {
        background-color: gray;
      }
      button {
        outline: 0;
        border: 0;
        display: block;
        width: getRem(325);
        color: #fff;
        padding: getRem(20);
        font-size: 16px;
        &:first-of-type {
          border-radius: getRem(50) 0 0 getRem(50);
          background: rgb(113, 113, 230);
        }
        &:last-of-type {
          border-radius: 0 getRem(50) getRem(50) 0;
          background: rgb(69, 100, 215);
        }
      }
    }
    .purchaseBtn {
      position: relative;
      width: getRem(250);
      height: getRem(92);
      border: none;
      border-radius: getRem(46);
      background-color: #4266f5;
      font-size: 0.47rem;
      color: white;
      text-align: center;
      line-height: getRem(92);
    }
    .disabled {
      background-color: gray;
      color:white;
    }
    .makeBtn {
      position: relative;
      width: getRem(250);
      height: getRem(92);
      border: none;
      border-radius: getRem(46);
      background-color: #4266f5;
      font-size: 0.47rem;
      color: white;
      text-align: center;
      line-height: getRem(92);
    }
  }
  #playBtn {
    width: 2rem;
    height: 2rem;
    background-color: pink;
  }
}
.loading {
  #spirit {
    transition: none;
    transform: translateY(13rem) scale(0.85);
  }
  #mb {
    transition: none;
    transform: translateY(13rem);
  }
  #ground {
    transition: none;
    transform: translateY(13rem);
  }
  #low-leaf1 {
    transition: none;
    transform: translateY(13rem);
    opacity: 1;
  }
  #low-leaf2 {
    transition: none;
    transform: translateY(13rem) translateX(2rem);
  }
  #low-leaf3 {
    transition: none;
    transform: translateY(13rem);
  }
  #low-leaf4 {
    transition: none;
    transform: translateY(13rem) rotate(0deg);
  }
  #mid-leaf1 {
    transition: none;
    transform: translateY(12rem) rotate(9deg) scale(0.9);
    opacity: 0.9;
  }
  #mid-leaf2 {
    transition: none;
    transform: translateY(14rem) translateX(1.8rem) rotate(-8deg) scale(0.9);
    opacity: 0.8;
  }
  #mid-leaf3 {
    transition: none;
    transform: translateY(14rem) rotate(8deg) scale(0.9);
    opacity: 0.8;
  }
  #mid-leaf4 {
    transition: none;
    transform: translateY(14rem) rotate(0deg) scale(0.9);
    opacity: 0.8;
  }
  #top-leaf1 {
    transition: none;
    transform: translateY(16.5rem) rotate(35deg) scale(0.7);
    opacity: 1;
  }
  #top-leaf2 {
    transition: none;
    transform: translateY(14.5rem) translateX(-1rem) rotate(-20deg) scale(0.6);
    opacity: 0.9;
  }
  #top-leaf3 {
    transition: none;
    transform: translateY(15rem) translateX(1rem) rotate(13deg) scale(0.6);
    opacity: 0.95;
  }
  #top-leaf4 {
    transition: none;
    transform: translateY(13rem) translateX(4.5rem) rotate(52deg) scale(0.7);
    opacity: 1;
  }
  #top-leaf5 {
    transition: none;
    transform: translateY(18rem) translateX(-5rem) rotate(12deg) scale(0.7);
    opacity: 0.3;
  }
  #top-leaf6 {
    transition: none;
    transform: translateY(14.5rem) translateX(2.5rem) rotate(39deg) scale(1);
    opacity: 0.5;
  }
}
.bounce-enter-active {
  transition: all 2s cubic-bezier(0.19, 2, 0.32, 0.91);
}
.bounce-leave-active {
  transition: all 0.8s cubic-bezier(0.19, 1.58, 0.42, 0.91);
}
.bounce-enter, .bounce-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(3rem);
  opacity: 0;
}
.fade-enter-active {
  transition: all 0.3s ease-out;
}
.fade-leave-active {
  transition: all 0.3s ease-out;
}
.fade-enter, .fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
@keyframes music-aurora {
  0% {
    background-position: 0 0;
  }
  // 50% {
  //   background-position: 0 getRem(-4039); // background-position: 0 -97.7%
  //   // background-position: 0 getRem(-1590); // background-position: 0 -97.7%
  // }
  100% {
    background-position: 0 getRem(-4039); // background-position: 0 -97.7%
  }
}
@keyframes box-shine {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(252, 245, 141, 1);
  }
  50% {
    box-shadow: 0px 0px 31px 0px rgba(252, 247, 170, 0.8);
  }
  100% {
    box-shadow: 0px 0px 0px 0px rgba(252, 245, 141, 1);
  }
}
#work-update-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:10;
  .mb-dialog {
    position: relative;
    width: getRem(670);
    padding: getRem(75) getRem(32);
    border-radius: getRem(50);
    background-color: #2c2d30;
    display: flex;
    flex-direction: column;
    .dialog-sector {
      display: flex;
      justify-content: space-between;
      align-items:center;
      .work-cover {
        width: getRem(128);
        height:getRem(128);
        margin-bottom:getRem(34);
      }
    }
    .title {
      // flex: 1;
      // display: flex;
      // align-items: flex-end;
      position: relative;
      width: getRem(66);
      font-size: 16px;
      color: #a3a4a8;
    }
    .input {
      flex: 1;
      flex-direction: column;
      padding: 0 0 0 getRem(77);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      width: 100%;
      text-align: center;
      font-size: 0.5rem;
      input {
        background: transparent;
        text-align:right;
        border: none;
        outline: none;
        width: 100%;
        height: getRem(112);
        font-size: 16px;
        color:#6d6e75
      }
    }
    .splitter {
      position: relative;
      width: getRem(524);
      left:getRem(80);
      height: 1px;
      background-color: #d8d8d8;
      padding: 0 getRem(77);
      transform: scaleY(0.5);
    }
    // .btns {
    //   flex: 4;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   position: relative;
    //   width: 100%;
    //   text-align: center;
    //   font-size: 0.5rem;
    //   span.btn {
    //     position: relative;
    //     width: 100%;
    //     height: 100%;
    //     flex: 1;
    //     display: flex;
    //     align-items: center;
    //     padding-top: 0.6rem;
    //   }
    //   .cancel {
    //     color: gray;
    //     text-align: right;
    //     justify-content: flex-start;
    //     padding-left: getRem(77);
    //   }
    //   .confirm {
    //     color: blue;
    //     text-align: left;
    //     justify-content: flex-end;
    //     padding-right: getRem(77);
    //   }
    // }
  }
  .confirm-btn {
    width: getRem(670);
    height:getRem(92);
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #8C95A6;
    color:white;
    font-size:16px;
    border-radius: getRem(46);
    margin-top: getRem(20);
  }
}